* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  @include bodyFontRegularM;
  color: var(--black-400);
  font-family: var(--font-body);
  background-color: var(--amber-300);
  margin: 0px;
}

h1, h2, h3, h4, h5, h6,
ul, p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

h1 {
  @include fontHeadingXXL;
}

h2 {
  @include fontHeadingXL;
}

h3 {
  @include fontHeadingL;
}

h4, h5, h6 {
  @include fontHeadingM;
}

a {
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    color: var(--orange-400);
  }
}

ul, ol {
  list-style: none;
}

input, textarea,
button, a,
select {
  color: var(--black-400);
  font-family: var(--font-body);
  outline: none;
}

.container {
  margin: 0 auto;
  width: calc(100% - 96px);
  max-width: var(--container);
}