* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  overflow-x: hidden;
}

body {
  @include bodyFontRegularM;
  color: var(--black-400);
  font-family: var(--font-body);
  background-color: var(--amber-300);
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

h1 {
  @include fontHeadingXXL;
}

h2 {
  @include fontHeadingXL;
}

h3 {
  @include fontHeadingL;
}

h4,
h5,
h6 {
  @include fontHeadingM;
}

a {
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    color: var(--orange-400);
  }
}

ul,
ol {
  list-style: none;
}

input,
textarea,
button,
a,
select {
  color: var(--black-400);
  font-family: var(--font-body);
  outline: none;
}

.container {
  margin: 0 auto;
  width: calc(100% - 96px);
  max-width: var(--container);
}

.icon {
  @include icon;
}

input,
textarea {
  @include bodyFontRegularS;
  border-radius: 4px;
  border: 1px solid var(--gray-400);
  background-color: var(--amber-400);
  padding: 9px 16px;
  transition: all 0.2s;
  resize: none;

  &:hover,
  &:focus,
  &:active,
  &:-webkit-autofill {
    background-color: var(--amber-400);
  }

  &:hover {
    border: 1px solid var(--black-400);
  }

  &:focus {
    border: 1px solid var(--gray-400);
  }
}

a {
  svg {
    @include icon;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.link_active {
  color: var(--orange-400);

  &:hover {
    color: var(--black-400);
  }
}
