/*
  h - heading (Example: --text-h-l: 20px;)
  b - body (Example: --text-b-l: 20px;)
*/
:root {
  --font-body: 'Inter', sans-serif;
  --font-heading: 'Poppins', sans-serif;

  --text-weight-base: 400;
  --text-weight-medium: 500;

  --text-h-m: 24px;
  --text-h-l: 32px;
  --text-h-xl: 40px;
  --text-h-xxl: 48px;
  --text-h-xxxl: 56px;

  --text-b-l: 20px;
  --text-b-m: 16px;
  --text-b-s: 14px;

  --black-400: #171a1e;
  --blue-400: #30a6e8;
  --white-400: #fff;
  --green-400: #29ab65;
  --red-400: #dc2323;

  --amber-200: #fcf5e8;
  --amber-300: #f0e9dc;
  --amber-400: #fff8ec;
  --amber-500: #fcf6ed;
  --amber-600: #efe6d4;
  --amber-700: #ffe3ce;

  --gray-50: rgba(23, 26, 30, 0.05);
  --gray-100: rgba(23, 26, 30, 0.1);
  --gray-200: rgba(23, 26, 30, 0.5);
  --gray-400: #c6c9cf;

  --orange-400: #e48616;
  --orange-500: #d37f1a;

  --container: 1344px;
}
