@import "src/styles/global/mixins";

body {
  background-image: url("public/img/auth-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.signIn {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .form {
    width: 100%;
    max-width: 389px;
    background-color: var(--amber-200);
    border-radius: 4px;
    padding: 40px 32px;

    .heading {
      @include fontHeadingXL;
      margin-bottom: 24px;
    }

    .formFields {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 32px;
    }

    .register {
      margin: 40px 0 24px 0;
    }

    .register,
    .resetPassword {
      @include bodyFontMediumS;
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}