@import 'src/styles/global/mixins';

.planCard {
  min-height: 486px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
  padding: 32px;
  background-color: var(--amber-200);

  &.active {
    box-shadow: 0 8px 48px 0 rgba(60, 37, 10, 0.12);
  }

  .content {
    .popular {
      @include bodyFontRegularL;
      color: var(--black-400);
    }
  
    .name {
      @include fontHeadingL;
      color: var(--black-400);
      margin-top: 2px;
    }
  
    .description {
      @include bodyFontRegularS;
      color: var(--black-400);
      margin-top: 12px;
    }
  }
}
