@import "src/styles/global/mixins";

.avatar {
  display: flex;
  align-items: center;

  .avatarWrapper {
    position: relative;
    margin-right: 14px;

    .avatarImg {
      border-radius: 100%;
    }

    .avatarFolder {
      position: absolute;
      right: -6px;
      bottom: -4px;
      border-radius: 4px;
    }
  }

  .avatarName {
    @include bodyFontRegularS;
  }
}