@import "src/styles/global/mixins";

.historyWrapper {
  max-width: 672px;
  margin: 40px auto 165px auto;

  .filters {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 16px;

    .filter {
      display: flex;
      align-items: center;
      gap: 4px;
      cursor: pointer;
      transition: all 0.5s ease-out;

      .filterIcon {
        display: flex;

        &.reversed {
          transform: rotate(180deg);
        }

        svg {
          @include icon;
        }
      }
    }
  }
}
