@import "src/styles/global/mixins";

.historyProject {
  display: flex;
  width: fit-content;
  margin: 40px auto 165px auto;
  min-height: calc(100vh - 615px);

  .wrapper {
    .heading {
      @include fontHeadingXL;
      margin-bottom: 24px;
    }
  }
}