@import "src/styles/global/mixins";

.subscriptionContainer {
  margin: 48px auto 140px;

  .heading {
    @include fontHeadingXXL;
    font-weight: var(--text-weight-base);
    margin-bottom: 24px;
  }

  .pricePlanList {
    display: flex;
    gap: 16px;

    .card {
      margin-top: 32px;
      padding: 32px;
      background-color: var(--amber-200);

      .slug {
        @include bodyFontRegularL;
      }

      .title {
        @include fontHeadingL;
        margin-bottom: 12px;
      }

      .content {
        @include bodyFontRegularS;
      }
    }
  }
}