@import "src/styles/global/mixins";

.textField {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;

  .label {
    @include bodyFontRegularS;
  }

  .wrapper {
    position: relative;

    svg {
      @include icon;
      position: absolute;
      top: 12px;
      left: 16px;
    }

    .input {
      width: 100%;

      &.withIcon {
        padding: 12px 16px 12px 56px;
        height: 48px;
      }
    }
  }
}