@import "src/styles/global/mixins";

.btn {
  @include bodyFontMediumM;
  width: 100%;
  color: var(--white-400);
  padding: 20px 16px;
  border-radius: 4px;
  background-color: var(--orange-400);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  cursor: pointer;

  &.outlined {
    width: fit-content;
    border: 1px solid var(--orange-400);
    background-color: transparent;
    color: var(--orange-400);
    padding: 4px 12px;
    gap: 6px;
  }

  svg {
    @include icon;
  }
}