@import "src/styles/global/mixins";

.card { 
  background: var(--amber-200);
  padding: 8px 12px;
  padding-right: 24px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 16px;

  .avatar {
    width: 64px;
    height: 64px;
    border-radius: 4px;

    &.withoutImage {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--amber-700);
  
      svg {
        width: 24px;
        height: 24px;
        color: var(--orange-400);
      }
    }
  }

  .information{
    h4 {
      @include bodyFontRegularM;
      color: var(--black-400);
    }

    p {
      @include bodyFontRegularS;
      color: var(--gray-200);
    }
  }
}