@import "src/styles/global/mixins";

.resetPassword {
  display: flex;
  width: fit-content;
  margin: 40px auto 165px auto;

  .form {
    max-width: 389px;

    .heading {
      @include fontHeadingXL;
    }

    .formBody {
      max-width: 336px;
      margin-top: 32px;

      .formFields {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 40px;
      }
    }
  }

  .sticker {
    position: relative;
    height: fit-content;

    .stickerImg {
      margin-top: 110px;
    }

    .stickerLine {
      position: absolute;
      bottom: -76px;
      left: -117%;
    }
  }
}