@import "src/styles/global/mixins";

.resetPassword {
  min-height: calc(100vh - 116px);
  width: 100%;
  display: flex;
  margin-top: 40px;
  padding-left: calc(100vh / 2 - 40px);

  .form {
    max-width: 389px;

    .heading {
      @include fontHeadingXL;
    }

    .formBody {
      max-width: 336px;
      margin-top: 32px;

      .formFields {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 40px;
      }
    }
  }

  .stickerImg {
    position: absolute;
    top: 240px;
    right: 325px;
    z-index: -1;
  }

  .stickerBg {
    position: absolute;
    top: 380px;
    right: 85px;
    z-index: -1;
  }
}