@import 'src/styles/global/mixins';

.userLine {
  display: flex;
  align-items: center;
  gap: 24px;

  .avatar {
    width: 110px;
    height: 110px;
    border-radius: 100%;

    &.withoutImage {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--orange-500);
      background-color: var(--amber-700);

      svg {
        width: 36px;
        height: 36px;
      }
    }
  }

  .information {
    .name {
      @include fontHeadingXL;
      font-weight: 400;
      
    }

    .stats {
      display: flex;
      gap: 16px;
      margin-top: 12px;
    }
  }
}
