@import 'src/styles/global/mixins';

.userLine {
  display: flex;
  align-items: center;
  gap: 24px;

  .avatar {
    width: 110px;
    height: 110px;
    border-radius: 100%;

    &.withoutImage {
      @include fontHeadingXL;
      color: var(--black-400);

      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--blue-400);
    }
  }

  .information {
    .name {
      @include fontHeadingXL;
      font-weight: 400;
    }

    .stats {
      display: flex;
      gap: 16px;
      margin-top: 12px;
    }
  }
}
