@import 'src/styles/global/mixins';

.sidebar {
  width: 100%;
  max-width: 224px;

  .list {
    display: flex;
    flex-direction: column;

    &.oneItemList {
      .listItem {
        &.listItemActive {
          margin-top: 0px;
          padding-top: 0px;
          border-top: none;
        }
      }
    }

    .listItem {

      &.listItemActive {
        margin-top: 8px;
        padding-top: 24px;
        border-top: 1px solid var(--gray-100);
      }

      &:not(:last-child) {
        margin-bottom: 16px;
      }

      .link {
        @include link;
        @include bodyFontRegularM;
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }
}