@import "src/styles/global/mixins";

.nav {
  margin-left: auto;

  .list {
    display: flex;
    gap: 8px;

    .link {
      @include bodyFontRegularS;
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 12px 24px;
      border-radius: 32px;
      border: 1px solid var(--gray-100);

      &:active {
        border: 1px solid var(--blue-400);
      }

      &.active {
        padding: 12px 16px;
        color: var(--orange-400);
        border-color: var(--orange-400);

        &:hover {
          color: var(--black-400);
          border-color: var(--black-400);
        }

        &:active {
          border: 1px solid var(--blue-400);
        }
      }

      &.onlyIcon {
        padding: 12px;
      }
    }
  }
}