.form {
  max-width: 560px;
  .formBody {
    margin-top: 32px;

    .formFields {
      display: flex;
      gap: 16px;
      margin-bottom: 20px;
    }

    .formSelects {
      max-width: 272px;
    }

    .formBtn {
      max-width: 272px;
      margin-top: 48px;
    }
  }
}